name: SDKs
on:
  pull_request:
  schedule:
    - cron: '0 5 * * *'

jobs:
  bundle-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version: ["5.10", "6.0", "6.1", "6.2"]
        os: [ubuntu-24.04, ubuntu-22.04]
    steps:
      - name: Check for latest Swift ${{ matrix.version }} toolchain
        id: version
        run: |
          echo "tag=swift-${{matrix.version}}-RELEASE" >> $GITHUB_OUTPUT
      - name: Get cached ${{ matrix.os }} ${{ steps.version.outputs.tag }} toolchain
        id: cache-toolchain
        uses: actions/cache@v4
        with:
          path: ~/${{ steps.version.outputs.tag }}-${{matrix.os}}.tar.gz
          key: ${{ steps.version.outputs.tag }}-${{matrix.os}}-toolchain
      - name: Download toolchain
        if: ${{ steps.cache-toolchain.outputs.cache-hit != 'true' }}
        env:
          SWIFT_TAG: ${{ steps.version.outputs.tag }}
        run: |
          cd
          wget -q https://download.swift.org/swift-${{matrix.version}}-release/${{ startsWith(matrix.os, 'ubuntu-24.04') && 'ubuntu2404' || 'ubuntu2204' }}/$SWIFT_TAG/$SWIFT_TAG-${{ startsWith(matrix.os, 'ubuntu-24.04') && 'ubuntu24.04' || 'ubuntu22.04' }}.tar.gz
          echo "downloaded latest ${{ matrix.os }} toolchain: ${SWIFT_TAG}"

      - name: Extract toolchain and set it up
        env:
          SWIFT_TAG: ${{ steps.version.outputs.tag }}
        run: |
          SWIFT_TOOLS=$SWIFT_TAG-$(echo ${{ matrix.os }} | tr -d - )
          tar xf ~/$SWIFT_TOOLS.tar.gz
          TOOLCHAIN=${PWD}/$SWIFT_TOOLS/usr

          echo "TOOLCHAIN=${TOOLCHAIN}" >> $GITHUB_ENV
          ${TOOLCHAIN}/bin/swift --version
      - name: Get Swift Argument Parser package
        uses: actions/checkout@v4
        with:
          repository: apple/swift-argument-parser
          path: swift-argument-parser
      - name: Build Swift Argument Parser package
        run: |
          cd swift-argument-parser
          ${TOOLCHAIN}/bin/swift build
          ${TOOLCHAIN}/bin/swift build
          ${TOOLCHAIN}/bin/swift build --build-tests
          ${TOOLCHAIN}/bin/swift build --build-tests
      - name: Get Swift crypto package
        uses: actions/checkout@v4
        with:
          repository: apple/swift-crypto
          path: swift-crypto
      - name: Build Swift crypto package
        run: |
          cd swift-crypto
          ${TOOLCHAIN}/bin/swift build
          ${TOOLCHAIN}/bin/swift build
          ${TOOLCHAIN}/bin/swift build --build-tests
          ${TOOLCHAIN}/bin/swift build --build-tests
      - name: Get Swift NIO package
        uses: actions/checkout@v4
        with:
          repository: apple/swift-nio
          path: swift-nio
      - name: Build Swift NIO package
        run: |
          cd swift-nio
          ${TOOLCHAIN}/bin/swift build
          ${TOOLCHAIN}/bin/swift build
          ${TOOLCHAIN}/bin/swift build --build-tests
          ${TOOLCHAIN}/bin/swift build --build-tests
