name: SDKs
on:
  pull_request:
  schedule:
    - cron: '0 9 * * *'
jobs:
  build-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [aarch64, x86_64, armv7]
    steps:
      - name: Clone
        uses: actions/checkout@v2
        with:
          path: sdk-config
      - name: Cache SDK
        id: cache-sdk
        uses: actions/cache@v2
        with:
          path: ~/swift-5.4-android-${{ matrix.arch }}-24-sdk.tar.xz
          key: ${{ matrix.arch }}-sdk
      - name: Get Android SDK if not cached
        if: steps.cache-sdk.outputs.cache-hit != 'true'
        run: wget -O ~/swift-5.4-android-${{ matrix.arch }}-24-sdk.tar.xz https://github.com/buttaface/swift-android-sdk/releases/download/5.4/swift-5.4-android-${{ matrix.arch }}-24-sdk.tar.xz
      - name: Cache Termux debug app for NIO tests
        if: ${{ matrix.arch == 'x86_64' }}
        id: cache-termux
        uses: actions/cache@v2
        with:
          path: ~/termux-debug.apk
          key: termux-app
      - name: Get Termux debug app if not cached
        if: ${{ matrix.arch == 'x86_64' && steps.cache-termux.outputs.cache-hit != 'true'}}
        run: wget -O ~/termux-debug.apk https://github.com/buttaface/swift-android-sdk/releases/download/5.4/termux-debug.apk
      - name: Patch SDK and SPM config
        run: |
          cd sdk-config
          tar xf ~/swift-5.4-android-${{ matrix.arch }}-24-sdk.tar.xz
          ln -sf ${SWIFT_PATH}/../lib/swift/clang swift-5.4-android-${{ matrix.arch }}-24-sdk/usr/lib/swift/clang
          sed -i "s%/home/butta/swift-5.4.1-RELEASE-ubuntu20.04/usr/bin%${SWIFT_PATH}%" android-${{ matrix.arch }}.json
          sed -i "s%/home/butta/swift-5.4-android%`pwd`/swift-5.4-android%" android-${{ matrix.arch }}.json
          sed -i "s%/home/butta/src/android-ndk-r21e%${ANDROID_NDK_HOME}%" android-${{ matrix.arch }}.json
          sed -i "s%/home/butta/src/android-ndk-r21e%${ANDROID_NDK_HOME}%" swift-5.4-android-${{ matrix.arch }}-24-sdk/usr/lib/swift/android/${{ matrix.arch }}/glibc.modulemap
          sed -i "s%/home/butta/swift-5.4-android%`pwd`/swift-5.4-android%" swift-5.4-android-${{ matrix.arch }}-24-sdk/usr/lib/swift/android/${{ matrix.arch }}/glibc.modulemap
      - name: Get Swift package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-argument-parser
          path: swift-argument-parser
      - name: Build Swift package
        run: |
          cd swift-argument-parser
          swift build --build-tests --enable-test-discovery --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Get Swift crypto package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-crypto
          path: swift-crypto
      - name: Build Swift crypto package
        run: |
          cd swift-crypto
          git apply ../sdk-config/package-patches/swift-crypto-test-vectors.patch
          swift build --build-tests --enable-test-discovery --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Get Swift NIO package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-nio
          path: swift-nio
      - name: Build Swift NIO package
        run: |
          cd swift-nio
          git apply ../sdk-config/package-patches/swift-nio-change-tmp-and-disable-tests.patch
          swift build --build-tests --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Get Swift Numerics package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-numerics
          path: sn
      - name: Build Swift Numerics package
        run: |
          cd sn
          swift build --build-tests --enable-test-discovery --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android -Xlinker -lm
      - name: Get Swift System package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-system
          path: ss
      - name: Build Swift System package
        run: |
          cd ss
          git apply ../sdk-config/package-patches/swift-system-test.patch
          swift build --build-tests --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Get Swift Collections package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-collections
          path: sco
      - name: Build Swift Collections package
        run: |
          cd sco
          swift build -j 1 --build-tests --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Get Swift NIO SSH package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-nio-ssh
          path: sns
      - name: Build Swift NIO SSH package
        run: |
          cd sns
          git apply ../sdk-config/package-patches/swift-nio-ssh-package-deps.patch
          swift build --build-tests --enable-test-discovery --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Get Swift NIO SSL package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-nio-ssl
          path: snl
      - name: Build Swift NIO SSL package
        run: |
          cd snl
          git apply ../sdk-config/package-patches/swift-nio-ssl-package-deps.patch
          #swift build --build-tests --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Get Yams package
        uses: actions/checkout@v2
        with:
          repository: jpsim/Yams
          path: yams
      - name: Build Yams package
        run: |
          cd yams
          git apply ../sdk-config/package-patches/yams-fixture-path.patch
          swift build --build-tests --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Get Swift tools support core package
        uses: actions/checkout@v2
        with:
          repository: apple/swift-tools-support-core
          path: swift-tools-support-core
      - name: Build Swift tools support core package
        run: |
          cd swift-tools-support-core
          #swift build --build-tests --enable-test-discovery -Xswiftc -Xcc -Xswiftc -U_GNU_SOURCE -Xcc -D__ANDROID_API__=23 --destination ../sdk-config/android-${{ matrix.arch }}.json -Xlinker -rpath -Xlinker \$ORIGIN/lib/swift/android
      - name: Put tests in one directory to push to Android x86_64 emulator
        if: ${{ matrix.arch == 'x86_64' }}
        run: |
          mkdir -p pack/lib/swift/android
          cp swift-argument-parser/.build/x86_64-unknown-linux-android/debug/{math,repeat,roll,swift-argument-parserPackageTests.xctest} pack
          cp swift-crypto/.build/x86_64-unknown-linux-android/debug/swift-cryptoPackageTests.xctest pack
          cp swift-nio/.build/x86_64-unknown-linux-android/debug/swift-nioPackageTests.xctest pack
          cp sn/.build/x86_64-unknown-linux-android/debug/swift-numericsPackageTests.xctest pack
          cp ss/.build/x86_64-unknown-linux-android/debug/swift-systemPackageTests.xctest pack
          cp sco/.build/x86_64-unknown-linux-android/debug/swift-collectionsPackageTests.xctest pack
          cp sns/.build/x86_64-unknown-linux-android/debug/swift-nio-sshPackageTests.xctest pack
          cp yams/.build/x86_64-unknown-linux-android/debug/YamsPackageTests.xctest pack
          #cp swift-tools-support-core/.build/x86_64-unknown-linux-android/debug/swift-tools-support-corePackageTests.xctest pack
          mkdir pack/crypto-vectors
          cp swift-crypto/Tests/Test\ Vectors/* swift-crypto/Tests/_CryptoExtrasVectors/* pack/crypto-vectors
          cp yams/Tests/YamsTests/Fixtures/SourceKitten#289/debug.yaml pack
          cp sdk-config/swift-5.4-android-x86_64-24-sdk/usr/lib/lib*so pack/lib
          cp sdk-config/swift-5.4-android-x86_64-24-sdk/usr/lib/swift/android/lib*so pack/lib/swift/android
      - name: Run tests on Android x86_64 emulator
        if: ${{ matrix.arch == 'x86_64' }}
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 24
          arch: x86_64
          script: |
            adb install ~/termux-debug.apk
            adb push pack /data/local/tmp

            adb shell /data/local/tmp/pack/swift-argument-parserPackageTests.xctest
            adb shell /data/local/tmp/pack/swift-cryptoPackageTests.xctest
            adb shell "run-as com.termux cp -r /data/local/tmp/pack /data/data/com.termux/"
            adb shell "run-as com.termux /data/data/com.termux/pack/swift-nioPackageTests.xctest"
            adb shell /data/local/tmp/pack/swift-numericsPackageTests.xctest
            adb shell /data/local/tmp/pack/swift-systemPackageTests.xctest
            adb shell /data/local/tmp/pack/swift-collectionsPackageTests.xctest
            adb shell /data/local/tmp/pack/swift-nio-sshPackageTests.xctest
            adb shell /data/local/tmp/pack/YamsPackageTests.xctest
            #adb shell /data/local/tmp/pack/swift-tools-support-corePackageTests.xctest
